[user]
	name = Christopher Hedley
	email = chris@cghsystems.net
[core]
	excludesfile = /Users/chris/.gitignore_global
[color]
	ui = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[push]
	default = simple
[alias]
  st = status
	br = branch
	ci = commit
	co = checkout
	conflict = diff --name-only --diff-filter=U
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[credential] 
  helper = cache
